{{! C application-header }}
{{! logo }}
{{#link-to "index" class="logo"}}
  <span class="logo-mini">{{fa-icon 'heart-o'}}</span>
  <span class="logo-lg">NHLBI <b>SPA</b></span>
{{/link-to}}

{{! navbar }}
<nav class="navbar navbar-static-top" role="navigation">
  {{! sidebar toggle button }}
  <a href="#" {{action (action this.attrs.toggleAside)}} class="sidebar-toggle" data-toggle="offcanvas" role="button">
    <span class="sr-only">Toggle navigation</span>
  </a>

  {{! pull-left menu }}
  <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
    {{bread-crumbs linkable=true}}
  </div>

  {{! pull-right menu }}
  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
      <li>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" id="navbar-search-input" placeholder="Search">
          </div>
        </form>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{fa-icon 'user'}}  Alastair {{fa-icon 'caret-down' tagName='span'}}</a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Settings</a></li>
          <li class="divider"></li>
          <li>{{#link-to 'index'}}View SPA{{/link-to}}</li>
          <li>{{#link-to 'styles'}}View Stlyes{{/link-to}}</li>
          <li class="divider"></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>