<section class="content-header">
  <h1>
    C3.js
    <small>Visualizing projects</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Visalizations</a></li>
    <li class="active">C3.js</li>
  </ol>
</section>

<section class="content">

  <div class="row">

    <div class="col-md-6">
      <div class="row">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Data Filter</h3>
          </div>
          <div class="box-body">
            {{! activity filter }}
            <div class="form-group">
              <label>Select Activity Code</label>
              <select class="form-control" onchange={{action "selectCode"}}>
                <option value=undefined><b>All</b></option>
                {{#each activityCodes as |activityCode|}}
                  <option value={{activityCode}}>{{activityCode}}</option>
                {{/each}}
              </select>
            </div>
            {{! IC filter }}
            <div class="form-group">
              <label>Select IC</label>
              <select class="form-control" onchange={{action "selectIC"}}>
                <option value=undefined><b>All</b></option>
                {{#each ICs as |IC|}}
                  <option value={{IC}}>{{IC}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>
      </div>      
      <div class="row">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Hover Data Table</h3>
          </div>
          <div class="box-body">
            <table class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>Org Name</th>
                <th>Total Dispersement</th>
              </tr>
              </thead>
              <tbody>
                {{#each filteredProjects as |project|}}
                  <tr>
                    <td>{{project.ORG_NAME}}</td>
                    <td>{{project.TOTAL_COST}}</td>
                  </tr>
                {{else}}
                  Filter object
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Filtered Visualization</h3>
        </div>
        <div class="box-body">
          {{data-viz
            data=data
            axis=axis
            legend=legend
            padding=padding
          }}
        </div>
      </div>
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Grouped Visualization</h3>
        </div>
        <div class="box-body">
          {{data-viz
            data=groupedData
            axis=axis
            legend=legend
            padding=padding
          }}
        </div>
      </div>

    </div>

  </div>
</section>