{{! sidebar }}
{{! HOWTO: show a "new" badge <small class="label pull-right bg-green">new</small> }}
{{! HOWTO: show a number badge <small class="label pull-right bg-red">3</small> }}

<section class="sidebar">
  <ul class="sidebar-menu">
    {{#each links as |link|}}

      {{! render titles }}
      {{#if link.isTitle}}
        <li class="header">{{link.text}}</li>
      {{/if}}

      {{! render multi-menus }}
      {{#if link.isTree}}
        <li class="treeview">
          <a href="#">
            <i class="{{link.icon}}"></i>
            <span>{{link.text}}</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            {{#each link.children as |child|}}
              <li>{{#link-to child.linkTo}}<i class="{{child.icon}}"></i> {{child.text}}{{/link-to}}</li>
            {{/each}}
          </ul>
        </li>        
      {{/if}}

      {{! render single menus }}
      {{#if link.isMenu}}
        <li>
          {{#link-to link.linkTo}}
            <i class="{{link.icon}}"></i> <span>{{link.text}}</span>
          {{/link-to}}
        </li>
      {{/if}}

    {{/each}}
  </ul>
</section>